In [2]:
import pandas as pd
import numpy as np
from time import strftime
import time
import datetime

In [54]:
planning = pd.read_csv("planning.csv")
planning

,Unnamed: 0,Date,Code,temp Code,Anglais,temp Anglais,Devolepement_Perso,temp Devolepement_Perso,Libre,temp Libre,Unnamed: 7
0,0,25:05:2020,NaN,NaN,NaN,0:01:00,NaN,NaN,NaN,NaN,NaN

In [40]:
verif_categorie = ["Code", "Anglais", "Devolepement_Perso", "Libre"]
for i in verif_categorie:
    if ("Angla" == i):
        print("yes")
verif_categorie

['Code', 'Anglais', 'Devolepement_Perso', 'Libre']

In [46]:
if ("Code" in verif_categorie):
    print("yes")

yes