In [1]:
import pandas as pd
import numpy as np
from time import strftime
import time
import datetime

In [2]:
nplanning = pd.read_csv("planning.csv")
planning

,Unnamed: 0,Unnamed: 0.1,Date,Code,Anglais,Devolepement_Perso,Libre
0,0,0.0,24:05:2020,en court start:115310,NaN,NaN,NaN
1,1,NaN,12:23:00,2:45:00,NaN,NaN,NaN

In [4]:
from datetime import timedelta


td2 = timedelta (hours = 2, minutes = 45)
print(type(td2))

<class 'datetime.timedelta'>

In [82]:
a = 3
if (type(a) == int):
    print("slt")

slt

In [39]:
planning.loc[]

,Unnamed: 0,Unnamed: 0.1,Date,Code,Anglais,Devolepement_Perso,Libre
0,0,0.0,24:05:2020,en court start:115310,NaN,NaN,NaN
1,1,NaN,12:23:00,2:45:00,NaN,NaN,NaN